<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC2405581C56D8B400F96E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC2405711C56D8B500F96E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC24057C1C56D8B500F96E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
